
.containerPub {
  background: #d25c0d;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
}

.containerPubUp{
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #FFF;
  height: 80px;
    
}


.containerPubUp h2{
  font-size: 34px;
  font-family: 'Montserrat', sans-serif;
    
}

.containerPubDown{
  width: 80%;
  max-width:  1024px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  flex-wrap: wrap;
  
    
}

@media (max-width: 1150px) {

  .containerPubDownCard{
    margin: 0 10px;
  }
  .containerPubDown{
    
    justify-content: center;
    align-items: center;
      
  }
}
