<div class="menu-container" id="home">
  <nav class="menu-up">

    <a href="#home" >
      <img class="menu-logo" src="../../../../assets/baiao-logo.png" alt="logo-site">
    </a>

    <ul class="menu-links-up">

      <li class="menu-link-up">
        <a  href="https://api.whatsapp.com/send?phone=5511940124694&text=Ol%C3%A1%20Dener,%20preciso%20de%20um%20orçamento!"
        target="_blank">
          <img src="../../../../assets/icones/whatsapp.svg" alt="link whattsapp">
        </a>
      </li>
      <li class="menu-link-up">
        <a href="https://www.instagram.com" target="_blank">
          <img
            src="../../../../assets/icones/instagram.svg"
            alt="link instagram">
        </a>
      </li>
      <li class="menu-link-up">
        <a href="https://facebook.com/" target="_blank">
          <img src="../../../../assets/icones/facebook.svg" alt="link facebook">
        </a>
      </li>
      <li class="menu-link-up">
        <a  href="https://twitter.com/home" target="_blank">
          <img src="../../../../assets/icones/twitter.svg" alt="link twitter">
        </a>
      </li>

      <li class="menu-link-up">
        <a href="#home" class="menu-link-login">
          Login
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="menu-container-down">

  <nav class="menu-down">

    <ul class="menu-links-down">
      <li class="menu-link-down">
        <a href="#home">Home</a>
        <div class="menu-links-down-drop">
          <a class="menu-link-down-drop"href="#pub">O Pub</a>
          <a class="menu-link-down-drop"href="#agenda">Agenda</a>
          <a class="menu-link-down-drop"href="#galeria">Galeria</a>
          <a class="menu-link-down-drop"href="#horario">Horário</a>
        </div>
      </li>
      <li class="menu-link-down">
        <a href="#eventos">Eventos</a>
      </li>
      <li class="menu-link-down">
        <a href="#galeria">Galeria</a>
      </li>
      <li class="menu-link-down">
        <a href="#cardapio">Cardapio</a>
      </li>
      <li class="menu-link-down">
        <a href="#contato">Contato</a>
      </li>
    </ul>
  </nav>
</div>
