
// Menu Up
.menu-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
}

.menu-up {
  width: 80%;
  max-width: 1200px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-logo{
  width: 100px;
  height: 100px;
}

.menu-links-up {

  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 350px;
  position: relative;
  top: 30px;

}

.menu-link-up {

  a {

    img{
      width: 30px;
      height: 30px;
      transition: 0.4s all;
    }
    img:hover{
      transform: scale(1.3);
      transition: transform 0.3s ease;
    }
  }
}

.menu-link-login {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  top: 5px;
  color: var(--black);
  text-decoration: none;
  transition: 0.4s all; /* Corrigido: 0.4s */
  display: inline-block; /* Adicionado */
}

.menu-link-login:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}

// Menu Down

.menu-container-down {
  background: var(--white);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-down {
  width: 85%;
  max-width: 1200px;
  height: 50px;
  display: flex;
  justify-content:flex-end;
  align-items:center;
}

.menu-down ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

.menu-down li {
  display: inline-block;
  position: relative;

}

.menu-down a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  color: var(--black);
  text-decoration: none;
  display: inline-block;
}

.menu-down a:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.menu-links-down-drop {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--primary);
  width: 110px;
  transition: opacity 0.4s ease, visibility 0.4s ease;

}

.menu-link-down:hover .menu-links-down-drop {
  opacity: 1;
  visibility: visible;
}
